{% extends 'base.html' %}

{% block title %} Rock Climbing Social Media {% endblock %}

{% block content %}

<style>
.center {
  margin: auto;
  width: 50%;
}

.container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

   /*Navbar*/
   .navbar {
    background-color: black;
  }

  .d-flex {
    margin-left: 50%;
  }

  .container-fluid {
    justify-content: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    top: 0;
    left: 0;
  }

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.navbar-brand{
  color: #007bff;

}

.submit-button{
  width:auto;
  margin-left: 2%;
}
</style>

<div class="container-fluid">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/post/">ClimbingSocialMedia</a>
      <ul class="navbar-nav">
        <li class="postbutton">
          <a class="btn btn-primary" href="/post" role="button">Post Page</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="profilebutton">
          <a class="btn btn-primary" href="/profile" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg>{{request.user}}</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success submit-button" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

    <div class="row my-3 p-3 center">
        <img class="account-img" src="{{ user.userprofile.picture.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible " role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Username:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                    </div>
                    <div class="form-group">
                        <a href="#">Change Password</a>
                        <hr>
                        <label class="small mb-1">Change Profile Picture:</label>
                        {{ profile_form.picture }}
                    </div>
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                    <label class="small mb-1">Facebook URL:</label> {{ profile_form.facebook_url }}
                    <label class="small mb-1">Twitter URL:</label> {{ profile_form.twitter_url }}
                    <label class="small mb-1">Youtube URL:</label> {{ profile_form.youtube_url }}
                    <label class="small mb-1">Instagram URL:</label> {{ profile_form.instagram_url }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <!-- <button type="reset" class="btn btn-dark btn-lg">Reset</button> -->
        </form>
    </div>

{% endblock content %}