<form action="results.html" method="GET" enctype="multipart/form-data">
    <div>
      <label for="name">First Name</label>
      <input type="text" name="Fname" id="Fname" required>
  </div>
  <div>
    <label for="name">Last Name</label>
    <input type="text" name="Lname" id="Lname" required>
</div>
  <div>
    <label for="age">Age</label>
    <input type="number" name="age" id="age" min="1" max="200" step="5">
  </div>
  <div>
    <label for="date">Birthdate</label>
    <input type="date" name="date" id="date" min="2019-06-10">
  </div>
  <div>
    Gender
    <div>
      <label for="male">Male</label>
      <input type="radio" name="gender" id="male" value="male">
    </div>
    <div>
      <label for="female">Female</label>
      <input type="radio" name="gender" id="female" value="female">
    </div>
    <div>
        <label for="female">Other</label>
        <input type="radio" name="gender" id="Other" value="Other">
    </div>
    <div>
        <label for="female">Prefer not to say</label>
        <input type="radio" name="gender" id="No_ans" value="No_ans">
    </div>
  </div>
  <div>
    <label for="bio">Bio</label>
    <textarea id="bio" name="bio"></textarea>
  </div>
  <input type="hidden" name="hidden" value="hi">
  <div>
    <label for="phone">Phone</label>
    <input type="tel" name="phone" id="phone">
  </div>
  <div>
    <label for="avatar">Choose a profile picture:</label>
    <input type="file"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg">
  </label>
  </div>
  <button type="submit">Submit</button>
</form>
      
